<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <title>Tokenate</title>
  <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div style="margin: 2em;">
<%= yield %>
</div>

</body>
</html>